.background {
    background-image: url(https://wallpaperplay.com/walls/full/3/f/1/155774.jpg#.XR12YYE_8ys.link);
    background-size: 1600px;
    overflow: scroll;
}

body {
    font-family: 'Mountains of Christmas', cursive;
    margin: 20px;
}