body {
    background: url(https://wallpaperplay.com/walls/full/3/f/1/155774.jpg#.XR12YYE_8ys.link) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Mountains of Christmas', cursive;
    margin: 20px;
}